
<div class="sidebar-container"  :class="{'show-sidebar': isOpen, 'hide-sidebar': !isOpen}">
    <b-menu>
        <b-menu-list label="Menu">
            <b-menu-item icon="information-outline" label="Info"></b-menu-item>
            <b-menu-item :active="isActive" expanded>
                <template #label="props">
                    <font-awesome-icon class="item-icon" :icon="['fas', 'users-cog']"></font-awesome-icon>
                    Administrator
                    <b-icon class="is-pulled-right" :icon="props.expanded ? 'menu-down' : 'menu-up'"></b-icon>
                </template>
                <b-menu-item icon="account" label="Users"></b-menu-item>
                </b-menu-item>
            <b-menu-item icon="account" label="Tài khoản của tôi">
            </b-menu-item>
            <b-menu-item icon="view-dashboard" label="Dự án" @click="$router.push('/projects')">
                <b-menu-item @click="$router.push('/projects/my-project')">
                    <template #label="props">
                        <font-awesome-icon class="item-icon" :icon="['fas', 'user-tag']"></font-awesome-icon>
                        Dự án của tôi
                    </template>
                </b-menu-item>
            </b-menu-item>
        </b-menu-list>
        <b-menu-list label="Actions">
            <b-menu-item label="Đăng xuất"></b-menu-item>
        </b-menu-list>
    </b-menu>
</div>