@import '../../assets/scss/size';
.sidebar-container{
    width: $sidebar-width;
    min-height: calc(100vh - #{$navbar-size});
    background-color: #009688;
    // .toggle-button{
    //     margin-bottom: 0;
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     .button{
    //         width: 60px;
    //         height: 60px;
    //         border-radius: 50%;
    //     }
    // }

    // .panel-container{
    //     width: 100%;
    // }

    // .no-border{
    //     box-shadow: none;
    //     -webkit-box-shadow: none;
    // }
}