@import '../../assets/scss/size';
@import '../../assets/scss/animation';
@import '/assets/scss/style';
.sidebar-container{
    min-width: $sidebar-width;
    min-height: 100%;
    background-color: #009688;
    padding: $sidebar-padding;
    .menu-label{
        color: #fff !important;
    }

    .item-icon{
        font-size: 12px;
        height: 100%;
    }
}

.show-sidebar{
    // animation-name: show-sidebar;
    // animation-duration: 1s;
    transition: all 0.5s ease-in-out;
    transition-delay: 0;
    transform: translateX(0) !important;
}

.hide-sidebar{
    transition: all 0.5s ease-in-out;
    transform: translateX(-#{$sidebar-width}) !important;
    transition-delay: 0;
    min-width: 0;
}