
<div class="sidebar-container" v-show="isOpen">
    <!-- <section>
        <div class="block toggle-button">
            <b-button
                label="Icon"
                type="is-primary"
                size="is-medium"
                @click="isOpen = !isOpen"
                aria-controls="contentIdForA11y2" />
        </div>
    
        <b-collapse
            aria-id="contentIdForA11y2"
            class="panel panel-container"
            animation="slide"
            v-model="isOpen"
            v-bind:class="{'no-border': !isOpen}">
            <div class="panel-block">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>
                Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. <br/>
                Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.
            </div>
        </b-collapse>
    
    </section> -->
</div>