.login-page{
    display: flex;
    justify-content: center;
    width: 100%;
    .login-container {
        padding: 24px 16px;
        width: 50%;
    }
    
    .sign-up-link{
        margin-top: 20px;
    }
}