<div class="login-page">
    <div class="login-container">
        <section>
            <b-field label="Email">
                <b-input placeholder="Email" v-model="email" type="email" icon="email" icon-right="close-circle"
                    icon-right-clickable @icon-right-click="clearIconClick">
                </b-input>
            </b-field>

            <b-field label="Password">
                <b-input type="password" v-model="password" password-reveal>
                </b-input>
            </b-field>
            <div class="buttons button-group">
                <b-button type="is-success" @click="onLogin($event)">Đăng nhập</b-button>
                <b-button type="is-danger">Cancel</b-button>
            </div>
        </section>
        <div class="sign-up-link">
          <nuxt-link to="/sign-up">Bạn chưa có tài khoản? Đăng kí tại đây</nuxt-link>
        </div>
    </div>
</div>
