.sign-up-page{
    display: flex;
    justify-content: center;
    width: 100%;
    .sign-up-container{
        padding: 24px 16px;
        width: 50%;
    }
    .login-link{
        margin-top: 20px;
    }

}