@import '../../assets/scss/size';
.nav-bar-container{
    height: $navbar-size;
    .navbar, .navbar-menu{
        background-color: #45ADA8;
        height: 100%;
        .navbar-start{
            .navbar-item{
                color: #ffffff;
            }
    
            .navbar-item:hover, .navbar-item:focus{
                background-color:  #547980;
            }
        }
    }

    .navbar-brand{
        display: flex;
        justify-content: center;
        width: $brand-width;
    }

}