@font-face {
    font-family: "BioRhyme";
    src: local("BioRhyme"),
     url(~assets/font/BeVietnam-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "BioRhyme, light";
    src: local("BioRhyme, light"),
     url(~assets/font/BeVietnam-Light.ttf) format("truetype");
}